/* Variables */
:root {
    --background-color: #e3e1e1;
    --background-product: #ffffff;
    --primary-color: #024252;
    --secondary-color: #0071ea; 
    --third-color: #d6eaff;
    --primary-shadow: #C1C1C1;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --sucess-color: #047900;
    --warning-color: #df2525;
    --line-height: 1.7rem;
    --transition: 0.3s;
    --transparency-color: #4d4d4d33;
    --oscuro:#2c2c2c;
    --oscuro-1: #3b3b3d;
    --sombraDark: 4px 4px 5px 5px rgba(170,170,170,.25);
    --sombraLight: 10px 10px 20px rgba(31, 31, 35, 0.16);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #ebebeb;
    font-family: 'Exo 2', sans-serif;
    transition: .3s ease all;
}
body.dark {
    background: var(--oscuro);
}
.titulo{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 2.5rem 0 1rem 0;
}
.dark .product__detail-title,
.dark .header__menu-bar,
.dark .product__detail-desc,
.dark .footer {
    color: #fff;
}
.flex {
    display: flex;
  }
  
.flex--center {
align-items: center;
justify-content: center;
}

.flex--column {
flex-direction: column;
}

.container {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: 'header    header    header'
                         'contenido contenido contenido'
                         'contenido contenido contenido'
                         'footer    footer    footer';
}
