
.product {
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem 1rem 1rem;
}
.product__title {
    text-align: start;
}
.product__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product__card {
    background-color: var(--background-product);
    border-radius: 5px;
    margin: .5rem;
    width: 11.5rem;
}
.product__card:hover {
    box-shadow: var(--sombraDark);
}
.product__img {
    padding: 1rem;
}
.product__img img {
    width: 150px;
    height: 150px;
}
.product__img:hover {
    transform: scale(1.1);
    transition: 400ms ease-in-out all;
}
.product__detail {
    border-bottom: 1px solid rgba(51,51,51,.1);
    border-top: 1px solid rgba(51,51,51,.1);
    margin: 0rem 1rem 0rem 1rem;
    
}
.product__detail-precio {
    display: inline-block;
    font-size: 18px;
    padding: 0.5rem 0;
    text-align: start;
}
.product__detail-title {
    color: #3a2f2f;
    display: block;
    font-size: 22px;
    font-weight: 600;
    padding-top: 0.5rem;
}
.product__detail-desc {
    color: #888888;
    line-height: normal;
    margin-bottom: 0.5rem
}
.product__detail-icon {
    color: #06577f;
    margin-left: 4rem;
}
@media screen and (max-width: 768px) {
    .product__container {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
}
@media screen and (max-width: 375px) {
    .product__card {
        width: 85%;
    }
}